    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1>This App is developed by Vikanshu Chauhan</h1>
            </div>
        </div>
    </div>