<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
     {{>links}}
</head>
<body>
    {{>headers}}

        <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-12 col-12  main_menu_left align-items-center" style="height: 50rem;">
                        <figure class="errr-img">
                            <img src="img/404.jpg" class="img-fluid"  alt="error page" title="Error Page"/>
                        </figure>
                        <h1>oops!! page not Found.</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
 
                </div>
            </div>
        </div>
    </div>












     {{>footer}}
</body>
</html>